img {
  display: none;
  width: 500px;
}

#manatee-showing {
  display: none;
}

.supermanatee-showing {
  display: none;
}

.content-showing {
  display: none;
}

.clickable1, .clickable2, .clickable3 {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

h5 {
  display: none;
}
